<template>
  <div style="padding: 10px; z-index: 1000; float: right; padding-left: 10px">
    <v-btn color="success" v-on:click="exportData()">
      Export To Excel
      <v-icon style="padding-left: 10px; margin-right: -5px"
        >mdi-file-download-outline</v-icon
      >
    </v-btn>
  </div>
</template>

<script>
import XLSX from "xlsx";

export default {
  data: () => ({}),
  methods: {
    export() {
      //console.log("Selected - " + JSON.stringify(this.$store.state.objectsData.selected));

      var wsList = [];
      var gfDataWS = this.$store.state.objectsData.selected;
      var i = 0;

      //console.log("Came");

      for (i = 0; i < gfDataWS.length; i++) {
        if (gfDataWS[i].fieldsList.length > 0) {
          gfDataWS[i].MetaData = Object.keys(gfDataWS[i].fieldsList[0]);
        } else {
          gfDataWS[i].MetaData = [];
        }
      }

      //console.log("Metadata");

      for (i = 0; i < gfDataWS.length; i++) {
        var tempData = [];
        //To know number of array of arrays
        for (var l = 0; l < gfDataWS[i].MetaData.length; l++) {
          tempData.push([]);
        }

        for (var j = 0; j < gfDataWS[i].fieldsList.length; j++) {
          var obj = gfDataWS[i].fieldsList[j];
          for (var k = 0; k < gfDataWS[i].MetaData.length; k++) {
            //Add MetaData To Array of Arrays
            if (j === 0) tempData[k].push(gfDataWS[i].MetaData[k]);
            var value = obj[gfDataWS[i].MetaData[k]];
            tempData[k].push(value);
          }
        }

        if (gfDataWS[i].fieldsList.length > 0) {
          gfDataWS[i].DataModified = tempData;
        } else {
          gfDataWS[i].DataModified = [[]];
        }
      }

      //console.log("DataModified");

      for (i = 0; i < gfDataWS.length; i++) {
        wsList.push(XLSX.utils.aoa_to_sheet(gfDataWS[i].DataModified));
      }

      //console.log("Worksheet");

      var wb = XLSX.utils.book_new();
      for (i = 0; i < wsList.length; i++) {
        XLSX.utils.book_append_sheet(wb, wsList[i], gfDataWS[i].label);
      }

      //console.log("Workbook");

      var clientName = "Comcast";
      var fileName = clientName + "_GF_" + this.timeStamp() + ".xlsx";
      var defaultCellStyle = {
        font: { name: "Verdana", sz: 11, color: "FF0000" },
        fill: { fgColor: { rgb: "00FF00" } },
      };
      XLSX.writeFile(wb, fileName, { defaultCellStyle: defaultCellStyle }); // name of the file is fileName

      //console.log(JSON.stringify(gfDataWS));

      //console.log("Download");
    },
    exportData(isTemplateExport, template) {
      if (isTemplateExport) {
        for (var i = 0; i < template.objectList.length; i++) {
          var apiName = template.objectList[i];
          var objectsData = this.$store.state.objectsData;
          for (var j = 0; j < objectsData.objectList.length; j++) {
            var objApiName = objectsData.objectList[j].apiName;
            if (apiName === objApiName) {
              objectsData.selected.push(objectsData.objectList[j]);
            }
          }
        }
        this.export();
      } else {
        this.export();
      }
    },
    timeStamp() {
      // Create a date object with the current time
      var now = new Date();
      // Create an array with the current month, day and time
      var date = [now.getMonth() + 1, now.getDate(), now.getFullYear()];
      // Create an array with the current hour, minute and second
      var time = [now.getHours(), now.getMinutes(), now.getSeconds()];
      // Determine AM or PM suffix based on the hour
      var suffix = time[0] < 12 ? "AM" : "PM";
      // Convert hour from military time
      time[0] = time[0] < 12 ? time[0] : time[0] - 12;
      // If hour is 0, set it to 12
      time[0] = time[0] || 12;
      // If seconds and minutes are less than 10, add a zero
      for (var i = 0; i < 3; i++) {
        if (time[i] < 10) {
          time[i] = "0" + time[i];
        }
        if (date[i] < 10) {
          date[i] = "0" + date[i];
        }
      }
      // Return the formatted string
      return date.join("") + "_" + time.join("") + "_" + suffix;
    },
  },
};
</script>