<template>
  <v-footer height="auto" :dark="$store.state.isDark">
    <v-card class="flex" flat tile>
      <v-card-actions class="justify-center">
        <strong>CommerceCX</strong>
        <strong class="pl-2 pr-2">&copy;</strong>
        <strong>2020</strong>
        <!-- <strong class="pl-2 pr-2">-</strong> -->
      </v-card-actions>
    </v-card>
  </v-footer>
</template>
<script>
export default {};
</script>
