<template>
  <div class="home-container">

    <div class="box">
      <div class="home-tracking-div">
        <div class="home-card">
          <div class="home-aligned">
            <img src="https://www.flaticon.com/svg/static/icons/svg/2921/2921638.svg"
                 class="home-item-img" alt="">

            <div class="gap">
              <span class="home-item-name">GoldenF1.xlsx</span>
            </div>

          </div>

          <div class="container">
            <h4><b>Product</b></h4>

          </div>
        </div>
      </div>
    </div>
    <div class="box">
      <h2>Golden files</h2>
      <div>
        <!-- Table starts here -->
        <table id="table" class="table table-hover table-mc-light-blue">
          <thead>
          <tr class="home-tr-custom">
            <th>File</th>
            <th>Status</th>
            <th>Objects</th>
            <th>Data Mapping</th>
          </tr>
          </thead>
          <tbody>
          <tr class="home-tr-custom">
            <td data-title="File">
              <div class="aligned">
                <img src="https://www.flaticon.com/svg/static/icons/svg/2921/2921638.svg"
                     class="menu-img" alt="">
                <b>GoldenF1.xlsx</b>
              </div>
            </td>
            <td data-title="Status">
              <button class="custom-done-button" >
                Done
              </button>
            </td>
            <td data-title="Objects">
              <span class="caption">231</span>
              <span class="caption">Total objects</span>
            </td>
            <td data-title="Data Mapping">
              <button class="custom-done-button" >
                Visualize
              </button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>



  </div>
<!--  <div id="gf" style="overflow: auto">-->
<!--    &lt;!&ndash; Create Template Button &ndash;&gt;-->
<!--    &lt;!&ndash; <div>-->
<!--      <v-card-text class="btn-static">-->
<!--        <v-fab-transition>-->
<!--          <v-tooltip left>-->
<!--            <template v-slot:activator="{ on }">-->
<!--              <v-btn-->
<!--                color="#2469BA"-->
<!--                dark-->
<!--                absolute-->
<!--                top-->
<!--                right-->
<!--                fab-->
<!--                v-on="on"-->
<!--                @click="showObjectsDialog = true;dialogHeading='Create Template'"-->
<!--              >-->
<!--                <v-icon>add</v-icon>-->
<!--              </v-btn>-->
<!--            </template>-->
<!--            <span>Create Template</span>-->
<!--          </v-tooltip>-->
<!--        </v-fab-transition>-->
<!--      </v-card-text>-->
<!--    </div>&ndash;&gt;-->

<!--    &lt;!&ndash; Refresh Buttons &ndash;&gt;-->
<!--    <div>-->
<!--      <template>-->
<!--        <v-layout row wrap pa-3>-->
<!--          <v-flex sm4 pt-3 pl-2>-->
<!--            <h2>Golden Files</h2>-->
<!--          </v-flex>-->
<!--          <v-text-field-->
<!--            sm4-->
<!--            mx-3-->
<!--            v-model="searchTemplate"-->
<!--            append-icon="mdi-magnify"-->
<!--            label="Search Template"-->
<!--            single-line-->
<!--            hide-details-->
<!--          ></v-text-field>-->
<!--          <v-flex sm4 text-sm-right pt-3>-->
<!--            <v-btn color="primary" @click="refreshObjects"-->
<!--              >Refresh Objects</v-btn-->
<!--            >-->
<!--            <v-btn color="primary" style="margin: 0" @click="getTemplates"-->
<!--              >Refresh Templates</v-btn-->
<!--            >-->
<!--            <v-btn-->
<!--              color="primary"-->
<!--              @click="-->
<!--                showObjectsDialog = true;-->
<!--                dialogHeading = 'Create Template';-->
<!--              "-->
<!--            >-->
<!--              <v-icon medium class="pa-1">mdi-plus</v-icon>Create Template-->
<!--            </v-btn>-->
<!--          </v-flex>-->
<!--        </v-layout>-->
<!--      </template>-->
<!--    </div>-->

<!--    &lt;!&ndash; Templates &ndash;&gt;-->
<!--    <div>-->
<!--      <v-container grid-list-lg fluid="true">-->
<!--        <v-layout row wrap class="pb-4">-->
<!--          <v-flex-->
<!--            xs12-->
<!--            sm3-->
<!--            md3-->
<!--            v-for="item in templateList"-->
<!--            v-bind:key="item.id"-->
<!--            class="pa-2"-->
<!--            v-show="-->
<!--              item.templateName-->
<!--                .toLowerCase()-->
<!--                .includes(searchTemplate.toLowerCase())-->
<!--            "-->
<!--          >-->
<!--            <v-card class="mx-auto">-->
<!--              <v-card-title>-->
<!--                <div style="width: 80%">-->
<!--                  <h3-->
<!--                    class="custom-badge"-->
<!--                    style="background-color: #3e88a2; font-weight: normal"-->
<!--                  >-->
<!--                    {{ item.objectList.length }}-->
<!--                  </h3>-->
<!--                  <h3 class="font-weight-bold">-->
<!--                    {{ item.templateName | truncate }}-->
<!--                    <span v-show="item.isLoaded">*</span>-->
<!--                  </h3>-->
<!--                  <div class="caption">-->
<!--                    Last Modified - -->
<!--                    {{-->
<!--                      item.lastModifiedDate !== ""-->
<!--                        ? item.lastModifiedDate-->
<!--                            .replace("T", " ")-->
<!--                            .replace(".000+0000", "")-->
<!--                        : ""-->
<!--                    }}-->
<!--                  </div>-->
<!--                </div>-->
<!--              </v-card-title>-->
<!--              <v-divider></v-divider>-->
<!--              <v-card-actions>-->
<!--                <div class="text-xs-right" style="width: 100%">-->
<!--                  <v-chip-->
<!--                    label-->
<!--                    :color="-->
<!--                      item.templateType == 'Master' ? 'warning' : 'blue-grey'-->
<!--                    "-->
<!--                    text-color="white"-->
<!--                    class="left ma-2"-->
<!--                    small-->
<!--                    >{{-->
<!--                      item.templateType == "Master" ? item.templateType : "User"-->
<!--                    }}</v-chip-->
<!--                  >-->
<!--                  <v-chip-->
<!--                    label-->
<!--                    outline-->
<!--                    color="#1976d2"-->
<!--                    text-color="white"-->
<!--                    class="right"-->
<!--                    v-on:click="getTemplateObjects(item, false)"-->
<!--                  >-->
<!--                    <v-icon color="#1976d2">mdi-pencil</v-icon>-->
<!--                  </v-chip>-->
<!--                  <v-chip-->
<!--                    label-->
<!--                    outline-->
<!--                    color="teal"-->
<!--                    class="right"-->
<!--                    v-on:click="getTemplateObjects(item, true)"-->
<!--                  >-->
<!--                    <v-icon color="teal">mdi-file-download-outline</v-icon>-->
<!--                  </v-chip>-->
<!--                </div>-->
<!--              </v-card-actions>-->
<!--            </v-card>-->
<!--          </v-flex>-->
<!--        </v-layout>-->
<!--      </v-container>-->
<!--    </div>-->

<!--    &lt;!&ndash; Objects Dialog &ndash;&gt;-->
<!--    <div>-->
<!--      <v-dialog v-model="showObjectsDialog" persistent>-->
<!--        <v-card>-->
<!--          <v-card-title>-->
<!--            <v-toolbar-title>{{ dialogHeading }}</v-toolbar-title>-->
<!--            <v-spacer></v-spacer>-->
<!--            <v-spacer></v-spacer>-->
<!--            <v-spacer></v-spacer>-->
<!--            <v-spacer></v-spacer>-->
<!--            <v-spacer></v-spacer>-->
<!--            <v-text-field-->
<!--              v-model="$store.state.objectsData.search"-->
<!--              append-icon="mdi-magnify"-->
<!--              label="Search Objects"-->
<!--              single-line-->
<!--              hide-details-->
<!--            ></v-text-field>-->
<!--          </v-card-title>-->
<!--          <v-card class="ml-3 mr-3">-->
<!--            <v-toolbar :dark="$store.state.isDark" class="datatable-header">-->
<!--              <v-toolbar-title-->
<!--                >Selected Objects - -->
<!--                {{ templateObjectsData.objectList.length }}</v-toolbar-title-->
<!--              >-->
<!--            </v-toolbar>-->
<!--            <v-data-table-->
<!--              :headers="templateObjectsData.headers"-->
<!--              :items="templateObjectsData.objectList"-->
<!--              :search="$store.state.objectsData.search"-->
<!--              item-key="label"-->
<!--              select-all-->
<!--              class="elevation-24"-->
<!--              disable-initial-sort-->
<!--              hide-actions-->
<!--            >-->
<!--              <template v-slot:items="props">-->
<!--                <td>-->
<!--                  <v-checkbox-->
<!--                    primary-->
<!--                    hide-details-->
<!--                    v-model="props.item.isSelected"-->
<!--                    @change="addOrRemoveTemplateObject(props.item)"-->
<!--                  ></v-checkbox>-->
<!--                </td>-->
<!--                <td>{{ props.item.label }}</td>-->
<!--                <td>{{ props.item.apiName }}</td>-->
<!--                <td>{{ props.item.objectType }}</td>-->
<!--                <td class="text-xs-right">-->
<!--                  <v-edit-dialog-->
<!--                    :return-value.sync="props.item.seq"-->
<!--                    large-->
<!--                    lazy-->
<!--                    persistent-->
<!--                    @save="save"-->
<!--                  >-->
<!--                    <div>{{ props.item.seq }}</div>-->
<!--                    <template v-slot:input>-->
<!--                      <div class="mt-3 title">Update Sequence</div>-->
<!--                    </template>-->
<!--                    <template v-slot:input>-->
<!--                      <v-text-field-->
<!--                        v-model="props.item.seq"-->
<!--                        label="Edit"-->
<!--                        single-line-->
<!--                        counter-->
<!--                        autofocus-->
<!--                      ></v-text-field>-->
<!--                    </template>-->
<!--                  </v-edit-dialog>-->
<!--                </td>-->
<!--                <td>-->
<!--                  <v-btn-->
<!--                    color="primary"-->
<!--                    small-->
<!--                    :dark="$store.state.isDark"-->
<!--                    v-on:click="getSingleObjectFields(props.item, true)"-->
<!--                  >-->
<!--                    View Fields-->
<!--                    <v-icon class="pl-2" style="font-size: 18px"-->
<!--                      >mdi-eye-outline</v-icon-->
<!--                    >-->
<!--                  </v-btn>-->
<!--                  <span v-show="props.item.fieldList.length > 0">*</span>-->
<!--                </td>-->
<!--              </template>-->
<!--              <v-alert-->
<!--                v-slot:no-results-->
<!--                :value="true"-->
<!--                color="error"-->
<!--                icon="warning"-->
<!--                >Your search for "{{ $store.state.objectsData.search }}" found-->
<!--                no results.</v-alert-->
<!--              >-->
<!--            </v-data-table>-->
<!--            <v-toolbar :dark="$store.state.isDark" class="datatable-header">-->
<!--              <v-toolbar-title-->
<!--                >Total Objects - -->
<!--                {{-->
<!--                  $store.state.objectsData.objectList.length-->
<!--                }}</v-toolbar-title-->
<!--              >-->
<!--            </v-toolbar>-->
<!--            &lt;!&ndash; <div-->
<!--              class="datatable-header"-->
<!--            >All Objects - {{$store.state.objectsData.objectList.length}}</div>&ndash;&gt;-->
<!--            <v-data-table-->
<!--              :headers="$store.state.objectsData.headers"-->
<!--              :items="$store.state.objectsData.objectList"-->
<!--              :search="$store.state.objectsData.search"-->
<!--              :pagination.sync="$store.state.objectsData.pagination"-->
<!--              item-key="label"-->
<!--              select-all-->
<!--              class="elevation-24"-->
<!--              disable-initial-sort-->
<!--            >-->
<!--              <template v-slot:items="props">-->
<!--                <td>-->
<!--                  <v-checkbox-->
<!--                    primary-->
<!--                    hide-details-->
<!--                    v-model="props.item.isSelected"-->
<!--                    @change="addOrRemoveTemplateObject(props.item)"-->
<!--                  ></v-checkbox>-->
<!--                </td>-->
<!--                <td>{{ props.item.label }}</td>-->
<!--                <td>{{ props.item.apiName }}</td>-->
<!--                <td>{{ props.item.objectType }}</td>-->
<!--                <td class="text-xs-right">-->
<!--                  <v-edit-dialog-->
<!--                    :return-value.sync="props.item.seq"-->
<!--                    large-->
<!--                    lazy-->
<!--                    persistent-->
<!--                    @save="save"-->
<!--                  >-->
<!--                    <div>{{ props.item.seq }}</div>-->
<!--                    <template v-slot:input>-->
<!--                      <div class="mt-3 title">Update Sequence</div>-->
<!--                    </template>-->
<!--                    <template v-slot:input>-->
<!--                      <v-text-field-->
<!--                        v-model="props.item.seq"-->
<!--                        label="Edit"-->
<!--                        single-line-->
<!--                        counter-->
<!--                        autofocus-->
<!--                      ></v-text-field>-->
<!--                    </template>-->
<!--                  </v-edit-dialog>-->
<!--                </td>-->
<!--                <td>-->
<!--                  <v-btn-->
<!--                    color="primary"-->
<!--                    small-->
<!--                    :dark="$store.state.isDark"-->
<!--                    v-on:click="getSingleObjectFields(props.item, true)"-->
<!--                  >-->
<!--                    View Fields-->
<!--                    <v-icon class="pl-2" style="font-size: 18px"-->
<!--                      >mdi-eye-outline</v-icon-->
<!--                    >-->
<!--                  </v-btn>-->
<!--                  <span v-show="props.item.fieldList.length > 0">*</span>-->
<!--                </td>-->
<!--              </template>-->
<!--              <v-alert-->
<!--                v-slot:no-results-->
<!--                :value="true"-->
<!--                color="error"-->
<!--                icon="warning"-->
<!--                >Your search for "{{ $store.state.objectsData.search }}" found-->
<!--                no results.</v-alert-->
<!--              >-->
<!--            </v-data-table>-->
<!--          </v-card>-->
<!--          <v-card-actions>-->
<!--            <v-layout row wrap pb-1>-->
<!--              <v-flex-->
<!--                sm6-->
<!--                v-if="-->
<!--                  templateObjectsData.type != 'Master' &&-->
<!--                  templateObjectsData.type != ''-->
<!--                "-->
<!--              >-->
<!--                <v-btn color="error" class="ma-2" @click="deleteTemplate"-->
<!--                  >Delete</v-btn-->
<!--                >-->
<!--              </v-flex>-->
<!--              <v-flex-->
<!--                sm6-->
<!--                v-if="-->
<!--                  templateObjectsData.type == 'Master' ||-->
<!--                  templateObjectsData.type == ''-->
<!--                "-->
<!--              ></v-flex>-->
<!--              <v-flex sm2 text-xs-center>-->
<!--                <v-text-field-->
<!--                  class="ml-2 mr-2"-->
<!--                  label="Template Name *"-->
<!--                  type="text"-->
<!--                  v-model="templateObjectsData.name"-->
<!--                ></v-text-field>-->
<!--              </v-flex>-->
<!--              <v-flex sm1 text-xs-left>-->
<!--                <v-btn-->
<!--                  color="teal"-->
<!--                  class="ma-2"-->
<!--                  style="color: white"-->
<!--                  @click="saveAsTemplate"-->
<!--                  >Save As</v-btn-->
<!--                >-->
<!--              </v-flex>-->
<!--              <v-flex sm3 text-xs-right>-->
<!--                &lt;!&ndash; <v-divider class="mx-3" vertical style="margin-left:6px !important;"></v-divider> &ndash;&gt;-->
<!--                <v-btn-->
<!--                  color="primary"-->
<!--                  class="mr-1 ml-0 mt-2 mb-2"-->
<!--                  @click="saveTemplate"-->
<!--                  v-if="-->
<!--                    templateObjectsData.type != 'Master' &&-->
<!--                    templateObjectsData.type != ''-->
<!--                  "-->
<!--                  >Save</v-btn-->
<!--                >-->
<!--                <v-btn-->
<!--                  color="white"-->
<!--                  class="mr-2 ml-1 mt-2 mb-2"-->
<!--                  @click="closeDialog"-->
<!--                  style="color: black"-->
<!--                  >Close</v-btn-->
<!--                >-->
<!--              </v-flex>-->
<!--            </v-layout>-->
<!--          </v-card-actions>-->
<!--        </v-card>-->
<!--      </v-dialog>-->
<!--    </div>-->

<!--    &lt;!&ndash; Fields Dialog &ndash;&gt;-->
<!--    <div>-->
<!--      <v-dialog v-model="fieldsDialog">-->
<!--        <v-card>-->
<!--          <v-card-title>-->
<!--            <v-toolbar-title>{{ fieldsData.objectName }}</v-toolbar-title>-->
<!--            <v-spacer></v-spacer>-->
<!--            <v-spacer></v-spacer>-->
<!--            <v-spacer></v-spacer>-->
<!--            <v-spacer></v-spacer>-->
<!--            <v-spacer></v-spacer>-->
<!--            <v-text-field-->
<!--              v-model="fieldsData.search"-->
<!--              append-icon="mdi-magnify"-->
<!--              label="Search Fields"-->
<!--              single-line-->
<!--              hide-details-->
<!--            ></v-text-field>-->
<!--          </v-card-title>-->
<!--          <v-card style="margin: 0 15px 15px 15px">-->
<!--            <v-data-table-->
<!--              :headers="fieldsData.headers"-->
<!--              :items="fieldsData.fieldList"-->
<!--              :search="fieldsData.search"-->
<!--              :pagination.sync="fieldsData.pagination"-->
<!--              item-key="label"-->
<!--              select-all-->
<!--              class="elevation-24"-->
<!--              disable-initial-sort-->
<!--            >-->
<!--              <template v-slot:items="props">-->
<!--                <td>-->
<!--                  <v-checkbox-->
<!--                    v-model="allFieldsSelected"-->
<!--                    primary-->
<!--                    hide-details-->
<!--                    disabled-->
<!--                  ></v-checkbox>-->
<!--                </td>-->
<!--                <td>{{ props.item["Field Name"] }}</td>-->
<!--                <td>{{ props.item["API Name"] }}</td>-->
<!--                <td>{{ props.item["Data Type"] }}</td>-->
<!--                <td>{{ props.item["Description"] }}</td>-->
<!--                <td>{{ props.item["Is Required"] }}</td>-->
<!--                <td>-->
<!--                  <div-->
<!--                    v-if="-->
<!--                      props.item['Picklist Values'] !== null &&-->
<!--                      props.item['Picklist Values'] !== undefined-->
<!--                    "-->
<!--                    style="margin: 3px"-->
<!--                  >-->
<!--                    <div-->
<!--                      style="display: inline-block; margin: 6px 5px"-->
<!--                      v-for="item in props.item['Picklist Values'].split(';')"-->
<!--                      v-bind:key="item"-->
<!--                    >-->
<!--                      <span-->
<!--                        v-if="item !== ''"-->
<!--                        style="-->
<!--                          padding: 5px 10px;-->
<!--                          background-color: #ddd;-->
<!--                          border-radius: 2px;-->
<!--                        "-->
<!--                        >{{ item }}</span-->
<!--                      >-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </td>-->
<!--              </template>-->
<!--              <v-alert-->
<!--                v-slot:no-results-->
<!--                :value="true"-->
<!--                color="error"-->
<!--                icon="warning"-->
<!--                >Your search for "{{ fieldsData.search }}" found no-->
<!--                results.</v-alert-->
<!--              >-->
<!--            </v-data-table>-->
<!--          </v-card>-->
<!--          <v-card-actions>-->
<!--            <v-spacer></v-spacer>-->
<!--            <v-btn-->
<!--              color="white"-->
<!--              @click="-->
<!--                fieldsDialog = false;-->
<!--                allFieldsSelected = true;-->
<!--                fieldsData.pagination = {-->
<!--                  rowsPerPage: 5,-->
<!--                  descending: false,-->
<!--                  page: 1,-->
<!--                  sortBy: '',-->
<!--                  TotalItems: 0,-->
<!--                };-->
<!--              "-->
<!--              style="margin: 10px; color: black"-->
<!--              >Close</v-btn-->
<!--            >-->
<!--          </v-card-actions>-->
<!--        </v-card>-->
<!--      </v-dialog>-->
<!--    </div>-->

<!--    &lt;!&ndash; Sequence update popup &ndash;&gt;-->
<!--    <div>-->
<!--      <v-snackbar-->
<!--        v-model="snack.isVisible"-->
<!--        :timeout="3000"-->
<!--        :color="snack.color"-->
<!--      >-->
<!--        {{ snack.text }}-->
<!--        <v-btn flat @click="snack.isVisible = false">Close</v-btn>-->
<!--      </v-snackbar>-->
<!--    </div>-->

<!--    <LoaderComponent />-->

<!--    <ToastComponent />-->

<!--    &lt;!&ndash; <div style="text-align:center;">{{$store.getters.user}}</div> &ndash;&gt;-->



<!--  </div>-->

</template>



<script>
import LoaderComponent from "./Loader.vue";
import ToastComponent from "./Toast.vue";
import XLSX from "xlsx";

export default {
  name: "GF",
  data() {
    //console.log("GF.vue data - " + new Date());
    return {
      templateList: [],
      fieldsData: {
        fieldList: [],
        headers: [
          {
            text: "Field Name",
            value: "label",
          },
          {
            text: "API Name",
            value: "apiName",
          },
          {
            text: "Data Type",
            value: "sdataType",
          },
          {
            text: "Description",
            value: "description",
          },
          {
            text: "Is Required?",
            value: "IsRequired",
          },
          {
            text: "PickList Values",
            value: "picklistValue",
          },
        ],
        selected: [],
        search: "",
        pagination: { rowsPerPage: 5 },
        objectName: "",
      },
      dialogHeading: "",
      showObjectsDialog: false,
      fieldsDialog: false,
      allFieldsSelected: true,
      snack: {
        isVisible: false,
        color: "",
        text: "",
      },
      exportObject: [],
      templateObjectsData: {
        objectList: [],
        headers: [
          {
            text: "Object Name",
            value: "label",
            width: "25%",
          },
          {
            text: "Object Api Name",
            value: "apiName",
            width: "30%",
          },
          {
            text: "Object Category",
            value: "objectType",
            width: "20%",
          },
          {
            text: "Sequence",
            value: "seq",
            width: "10%",
          },
          {
            text: "Fields",
            value: "fieldList",
            width: "15%",
          },
        ],
        selected: [],
        name: "",
        type: "",
        id: "",
      },
      searchTemplate: "",
    };
  },
  methods: {
    closeDialog() {
      this.$store.commit("setObjectsData");
      this.showObjectsDialog = false;
      this.clearTemplateObjectList();
      this.updateLocalStorage();
    },
    refreshObjects() {
      if (this.$store.state.user.isDemo) {
        this.$store.state.objectsData.objectList = localStorage.getItem(
          "objectList"
        );
      } else {
        //console.log("Refresh Objects - " + new Date());
        this.$store.state.objectsData.selected = [];
        this.$store.commit("setLoader", {
          isVisible: true,
          text: "Refreshing SF objects...",
        });
        this.$http
          .get(this.$baseUrl + "/api/objects", {
            params: {
              token: this.$store.state.user.token,
              org: this.$store.state.user.org,
            },
          })
          .then((res) => {
            var objList = JSON.parse(res.data.result);
            var modifiedObject = [];
            Object.keys(objList).forEach(function eachKey(key) {
              var value = objList[key];
              for (var i = 0; i < value.length; i++) {
                value[i].objectType = key;
                value[i].fieldList = [];
                modifiedObject.push(value[i]);
              }
            });
            this.$store.state.objectsData.objectList = modifiedObject;
            localStorage.setItem(
              "objectList",
              JSON.stringify(this.$store.state.objectsData.objectList)
            );
            //console.log("Refreshed Objects - " + JSON.stringify(this.$store.state.objectsData.objectList));
            this.$store.commit("setLoader", {
              isVisible: false,
              text: "",
            });
          })
          .catch((err) => {
            this.$store.commit("setToast", {
              isVisible: true,
              isCloseVisible: true,
              timeout: 60000,
              text: "Failed to retrieve objects list.",
              error: err,
            });
            this.$store.commit("setLoader", {
              isVisible: false,
              text: "",
            });
          });
      }
    },
    save() {
      this.snack = {
        isVisible: true,
        color: "success",
        text: "Sequence saved",
      };
    },
    export() {
      var wsList = [];
      var gfDataWS = this.templateObjectsData.objectList;
      var i = 0;

      for (i = 0; i < gfDataWS.length; i++) {
        if (gfDataWS[i].fieldList.length > 0) {
          gfDataWS[i].MetaData = Object.keys(gfDataWS[i].fieldList[0]);
        } else {
          gfDataWS[i].MetaData = [];
        }
      }

      for (i = 0; i < gfDataWS.length; i++) {
        var tempData = [];
        //To know number of array of arrays
        for (var l = 0; l < gfDataWS[i].MetaData.length; l++) {
          tempData.push([]);
        }

        for (var j = 0; j < gfDataWS[i].fieldList.length; j++) {
          var obj = gfDataWS[i].fieldList[j];
          for (var k = 0; k < gfDataWS[i].MetaData.length; k++) {
            //Add MetaData To Array of Arrays
            if (j === 0) tempData[k].push(gfDataWS[i].MetaData[k]);
            var value = obj[gfDataWS[i].MetaData[k]];
            tempData[k].push(value);
          }
        }
        //Adding Object Name as top row of sheet
        tempData.unshift([gfDataWS[i].label], [""]);

        if (gfDataWS[i].fieldList.length > 0) {
          gfDataWS[i].DataModified = tempData;
        } else {
          gfDataWS[i].DataModified = [[]];
        }
      }

      for (i = 0; i < gfDataWS.length; i++) {
        const tempWS = XLSX.utils.aoa_to_sheet(gfDataWS[i].DataModified);
        //Merging columns of first row. It contains Object Name
        const merge = [{ s: { r: 0, c: 0 }, e: { r: 0, c: 4 } }];
        tempWS["!merges"] = merge;
        wsList.push(tempWS);
      }

      var wb = XLSX.utils.book_new();
      for (i = 0; i < wsList.length; i++) {
        //Max allowed characters for sheetName is 31
        const index = i + 1 + ". ";
        const name = gfDataWS[i].label;
        const sheetName =
          ((index + name).length > 31
            ? index + name.slice(0, 31 - (index + "...").length) + "..."
            : index + name).replace(/[^a-zA-Z0-9 _.-]/g, '');
        XLSX.utils.book_append_sheet(wb, wsList[i], sheetName);
      }

      //Adding Org name to the exported excel name
      var clientName = this.$store.state.user.org;
      var fileName = clientName + "_GF_" + this.timeStamp() + ".xlsx";
      var defaultCellStyle = {
        font: { name: "Verdana", sz: 11, color: "FF0000" },
        fill: { fgColor: { rgb: "00FF00" } },
      };
      XLSX.writeFile(wb, fileName, { defaultCellStyle: defaultCellStyle }); // name of the file is fileName
    },
    timeStamp() {
      // Create a date object with the current time
      var now = new Date();
      // Create an array with the current month, day and time
      var date = [now.getMonth() + 1, now.getDate(), now.getFullYear()];
      // Create an array with the current hour, minute and second
      var time = [now.getHours(), now.getMinutes(), now.getSeconds()];
      // Determine AM or PM suffix based on the hour
      var suffix = time[0] < 12 ? "AM" : "PM";
      // Convert hour from military time
      time[0] = time[0] < 12 ? time[0] : time[0] - 12;
      // If hour is 0, set it to 12
      time[0] = time[0] || 12;
      // If seconds and minutes are less than 10, add a zero
      for (var i = 0; i < 3; i++) {
        if (time[i] < 10) {
          time[i] = "0" + time[i];
        }
        if (date[i] < 10) {
          date[i] = "0" + date[i];
        }
      }
      // Return the formatted string
      return date.join("") + "_" + time.join("") + "_" + suffix;
    },
    getTemplates() {
      try {
        this.$store.commit("setLoader", {
          isVisible: true,
          text: "Retrieving templates...",
        });
        this.$http
          .get(this.$baseUrl + "/api/templates", {
            params: {
              token: this.$store.state.user.token,
              org: this.$store.state.user.org,
              userId: this.$store.state.user.id,
              version: this.$store.state.user.version,
            },
          })
          .then((res) => {
            //console.log("Templates Retrieved");
            this.templateList = this.restructureTemplateData(
              JSON.parse(res.data.result).records
            );
            localStorage.setItem(
              "templateList",
              JSON.stringify(this.templateList)
            );
            this.$store.commit("setLoader", {
              isVisible: false,
              text: "",
            });
          })
          .catch((err) => {
            this.$store.commit("setLoader", {
              isVisible: false,
              text: "",
            });
            this.$store.commit("setToast", {
              isVisible: true,
              isCloseVisible: true,
              timeout: 60000,
              text: "Error while retrieving templates. " + err,
              error: err,
            });
          });
      } catch (err) {
        this.$store.commit("setToast", {
          isVisible: true,
          isCloseVisible: true,
          timeout: 60000,
          text: "Error while retrieving templates. " + err,
          error: err,
        });
      }
    },
    restructureTemplateData(data) {
      data = this.changeKeyNames(data, this.$store.state.templateKeys);
      for (var i = 0; i < data.length; i++) {
        data[i].objectList =
          data[i].objectList !== null ? data[i].objectList.split(",") : [];
        data[i].isLoaded = false;
      }
      return data;
    },
    exportOrView(template, isExport) {
      this.bindTemplateObjectList(template);
      if (isExport) {
        try {
          this.export();
          this.clearTemplateObjectList();
        } catch (err) {
          this.$store.commit("setToast", {
            isVisible: true,
            isCloseVisible: true,
            timeout: 60000,
            text: "Failed to export. " + err,
            error: err,
          });
          this.$store.commit("setLoader", {
            isVisible: false,
            text: "",
          });
        }
      } else {
        this.showObjectsDialog = true;
        this.dialogHeading = "Template - " + template.templateName;
      }
    },
    getTemplateObjects(template, isExport) {
      if (template.isLoaded) {
        this.exportOrView(template, isExport);
      } else {
        this.getMultipleObjectFields(template, isExport);
      }
    },
    getSingleObjectFields(object, isDialog) {
      this.fieldsData.objectName = object.label;
      if (object.fieldList.length === 0) {
        this.$store.commit("setLoader", {
          isVisible: true,
          text: "Retrieving object fields...",
        });
        this.$http
          .get(this.$baseUrl + "/api/fields", {
            params: {
              token: this.$store.state.user.token,
              apiName: object.apiName,
              org: this.$store.state.user.org,
            },
          })
          .then((res) => {
            if (isDialog) {
              this.fieldsDialog = true;
            }
            this.$store.commit("setLoader", {
              isVisible: false,
              text: "",
            });
            for (
              var i = 0;
              i < this.$store.state.objectsData.objectList.length;
              i++
            ) {
              var tempObj = this.$store.state.objectsData.objectList[i];
              if (tempObj.apiName == object.apiName) {
                tempObj.fieldList = JSON.parse(res.data.result);
                // #region Change Fields Key Names

                tempObj.fieldList = this.changeKeyNames(
                  tempObj.fieldList,
                  this.$store.state.fieldKeys
                );

                // #endregion Change Fields Key Names
                this.fieldsData.fieldList = tempObj.fieldList;
                //console.log("Retrieved Fields - " +tempObj.apiName +" - " +JSON.stringify(tempObj.fieldList));
                break;
              }
            }
            this.updateLocalStorage();
            //console.log(object.label + " - " + object.fieldList.length);
          })
          .catch((err) => {
            this.$store.commit("setToast", {
              isVisible: true,
              isCloseVisible: true,
              timeout: 60000,
              text: "Failed to retrieve object fields.",
              error: err,
            });
            this.$store.commit("setLoader", {
              isVisible: false,
              text: "",
            });
          });
      } else {
        this.fieldsData.fieldList = object.fieldList;
        if (isDialog) {
          this.fieldsDialog = true;
        }
      }
    },
    getMultipleObjectFields(template, isExport) {
      var counter = 0;

      function recursiveAPI(that) {
        that.$store.commit("setLoader", {
          isVisible: true,
          text:
            "Retrieving object fields - [" +
            template.objectList[counter] +
            "] ...",
          isStep: true,
          buffer: counter,
          bufferValue: template.objectList.length,
        });

        that.$http
          .get(that.$baseUrl + "/api/fields", {
            params: {
              token: that.$store.state.user.token,
              apiName: template.objectList[counter],
              org: that.$store.state.user.org,
            },
          })
          .then((res) => {
            var fieldList = JSON.parse(res.data.result);
            fieldList = that.changeKeyNames(
              fieldList,
              that.$store.state.fieldKeys
            );

            for (
              var x = 0;
              x < that.$store.state.objectsData.objectList.length;
              x++
            ) {
              if (
                that.$store.state.objectsData.objectList[x].apiName ===
                template.objectList[counter]
              ) {
                that.$store.state.objectsData.objectList[
                  x
                ].fieldList = fieldList;
              }
            }

            counter++;
            if (counter < template.objectList.length) {
              recursiveAPI(that);
            } else {
              that.updateLocalStorage();
              that.exportOrView(template, isExport);
              that.$store.commit("setLoader", {
                isVisible: false,
                text: "",
              });
            }
          })
          .catch((err) => {
            counter++;

            that.$store.commit("setToast", {
              isVisible: true,
              isCloseVisible: true,
              timeout: 60000,
              text: "Failed to retrieve object fields." + err,
              error: err,
            });

            if (counter < that.exportObject.length) {
              recursiveAPI(that);
            } else {
              that.$store.commit("setLoader", {
                isVisible: false,
                text: "",
              });
            }
          });
      }

      // if (template.isLoaded) {
      //   //console.log("Dash Object Exists");
      //   if (isExport) {
      //     this.exportDashObject();
      //   } else {
      //     this.showObjectsDialog = true;
      //   }
      // } else {
      //   //console.log("Dash Object Loading First Time");
      recursiveAPI(this);
      template.isLoaded = true;
      // }
    },
    updateLocalStorage() {
      localStorage.setItem(
        "objectList",
        JSON.stringify(this.$store.state.objectsData.objectList)
      );
      localStorage.setItem("templateList", JSON.stringify(this.templateList));
    },
    changeKeyNames(data, newK) {
      for (var j = 0; j < data.length; j++) {
        var obj = data[j];
        Object.keys(newK).forEach(function (ele) {
          // assign object property based on old property value
          obj[newK[ele]] = obj[ele];
          // delete old object property
          delete obj[ele];
        });
      }
      return data;
    },
    saveTemplate() {
      this.$root.$confirm
        .open(
          "Save Confirmation",
          "Are you sure you want to save the template '" +
            this.dialogHeading.split("Template - ")[1] +
            "' ?",
          { color: "primary", width: 500 }
        )
        .then((status) => {
          if (status) {
            this.$store.commit("setLoader", {
              isVisible: true,
              text:
                "Saving template '" +
                this.dialogHeading.split("Template - ")[1] +
                "' ...",
            });
            var updateObject = {};
            //console.log(              "Update Confirmed - " + this.dialogHeading.split("Template - ")[1]            );
            updateObject.Name = this.dialogHeading.split("Template - ")[1];
            updateObject.Type__c = this.templateObjectsData.type;
            updateObject.Selected_Objects__c = this.getApiList();
            this.$http
              .get(this.$baseUrl + "/api/updateTemplate", {
                params: {
                  token: this.$store.state.user.token,
                  org: this.$store.state.user.org,
                  id: this.templateObjectsData.id,
                  data: updateObject,
                  version: this.$store.state.user.version,
                },
              })
              .then((res) => {
                if (res.data.result === "") {
                  //onsole.log("Template updated.");
                  this.$store.commit("setLoader", {
                    isVisible: false,
                    text: "",
                  });
                  this.$store.commit("setToast", {
                    isVisible: true,
                    timeout: 3000,
                    isCloseVisible: false,
                    text:
                      "Template '" +
                      this.dialogHeading.split("Template - ")[1] +
                      "' updated successfully.",
                  });
                  // console.log(this.templateList[i].id+ ", "+ this.templateObjectsData.id);
                  var index = -1;
                  for (var i = 0; i < this.templateList.length; i++) {
                    if (
                      this.templateList[i].id === this.templateObjectsData.id
                    ) {
                      index = i;
                      break;
                    }
                  }
                  if (index > -1) {
                    this.templateList[
                      index
                    ].objectList = this.getApiList().split(",");
                  } // this.getTemplates();
                  this.closeDialog();
                } else {
                  this.$store.commit("setToast", {
                    isVisible: true,
                    timeout: 60000,
                    isCloseVisible: true,
                    text:
                      "Failed to update template '" +
                      this.dialogHeading.split("Template - ")[1] +
                      "'.",
                  });
                }
              })
              .catch((err) => {
                this.$store.commit("setToast", {
                  isVisible: true,
                  timeout: 60000,
                  isCloseVisible: true,
                  text: err,
                });
              });
          } else {
            //console.log("Confirmation Cancel");
          }
        });
    },
    saveAsTemplate() {
      var msgs = this.validateTemplate();
      if (msgs.length == 0) {
        this.$root.$confirm
          .open(
            "Create Confirmation",
            "Are you sure you want to create the template '" +
              this.templateObjectsData.name +
              "' ?",
            { color: "primary", width: 500 }
          )
          .then((status) => {
            if (status) {
              this.$store.commit("setLoader", {
                isVisible: true,
                text:
                  "Creating template '" +
                  this.templateObjectsData.name +
                  "' ...",
              });
              var createObject = {};
              //console.log(                "Create Confirmed - " + this.templateObjectsData.name              );
              createObject.Name = this.templateObjectsData.name;
              createObject.Type__c = "User";
              createObject.Selected_Objects__c = this.getApiList();
              this.$http
                .get(this.$baseUrl + "/api/createTemplate", {
                  params: {
                    token: this.$store.state.user.token,
                    org: this.$store.state.user.org,
                    data: createObject,
                    version: this.$store.state.user.version,
                  },
                })
                .then((res) => {
                  //console.log("Template saved.");
                  this.$store.commit("setLoader", {
                    isVisible: false,
                    text: "",
                  });
                  var result = JSON.parse(res.data.result);
                  if (result.success) {
                    this.$store.commit("setToast", {
                      isVisible: true,
                      timeout: 3000,
                      isCloseVisible: false,
                      text:
                        "Template '" +
                        this.templateObjectsData.name +
                        "' created successfully.",
                    });
                    this.templateList.push({
                      id: result.id,
                      templateName: this.templateObjectsData.name,
                      templateType: "User",
                      objectList: this.getApiList().split(","),
                      lastModifiedDate: "",
                      createdBy: { Name: this.$store.state.user.userName },
                      isLoaded: true,
                    });
                    // this.getTemplates();
                    this.closeDialog();
                  } else {
                    this.$store.commit("setToast", {
                      isVisible: true,
                      timeout: 60000,
                      isCloseVisible: true,
                      text: "Failed to create template.",
                    });
                  }
                })
                .catch((err) => {
                  this.$store.commit("setToast", {
                    isVisible: true,
                    timeout: 60000,
                    isCloseVisible: true,
                    text: err,
                  });
                });
            } else {
              //console.log("Confirmation Cancel");
            }
          });
      } else {
        this.$store.commit("setToast", {
          isVisible: true,
          timeout: 60000,
          isCloseVisible: true,
          text: msgs,
        });
      }
    },
    getApiList() {
      var tempObjList = this.templateObjectsData.objectList;
      var tempApiList = [];
      for (var i = 0; i < tempObjList.length; i++) {
        tempApiList.push(tempObjList[i].apiName);
      }
      return tempApiList.toString();
    },
    validateTemplate() {
      var msgs = [];
      if (this.templateObjectsData.name === "")
        msgs.push("Please enter template name.");
      for (var i = 0; i < this.templateList.length; i++) {
        if (
          this.templateList[i].templateName === this.templateObjectsData.name
        ) {
          msgs.push(
            "Template with name '" +
              this.templateObjectsData.name +
              "' already exists."
          );
          break;
        }
      }
      if (this.templateObjectsData.objectList.length === 0)
        msgs.push("Template should have atleast one object.");

      return msgs.join("$$$$");
    },
    deleteTemplate() {
      this.$root.$confirm
        .open(
          "Delete Confirmation",
          "Are you sure you want to delete the template '" +
            this.dialogHeading.split("Template - ")[1] +
            "' ?",
          { color: "error", width: 500 }
        )
        .then((status) => {
          if (status) {
            this.$store.commit("setLoader", {
              isVisible: true,
              text:
                "Deleting template '" + this.templateObjectsData.name + "' ...",
            });
            //console.log(              "Delete Confirmed - " + this.dialogHeading.split("Template - ")[1]            );
            this.$http //
              .get(this.$baseUrl + "/api/deleteTemplate", {
                params: {
                  token: this.$store.state.user.token,
                  org: this.$store.state.user.org,
                  id: this.templateObjectsData.id,
                  version: this.$store.state.user.version,
                },
              })
              .then((res) => {
                if (res.data.result === "") {
                  //console.log("Template deleted.");
                  this.$store.commit("setLoader", {
                    isVisible: false,
                    text: "",
                  });
                  this.$store.commit("setToast", {
                    isVisible: true,
                    timeout: 3000,
                    isCloseVisible: false,
                    text:
                      "Template '" +
                      this.dialogHeading.split("Template - ")[1] +
                      "' deleted successfully.",
                  });
                  var index = -1;
                  for (var i = 0; i < this.templateList.length; i++) {
                    if (
                      this.templateList[i].id === this.templateObjectsData.id
                    ) {
                      index = i;
                      break;
                    }
                  }
                  this.templateList.splice(index, 1);
                  // this.getTemplates();
                  this.closeDialog();
                } else {
                  this.$store.commit("setToast", {
                    isVisible: true,
                    timeout: 60000,
                    isCloseVisible: true,
                    text: "Failed to delete template.",
                  });
                }
              })
              .catch((err) => {
                this.$store.commit("setToast", {
                  isVisible: true,
                  timeout: 60000,
                  isCloseVisible: true,
                  text: err,
                });
              });
          } else {
            //console.log("Confirmation Cancel");
          }
        });
    },
    bindTemplateObjectList(template) {
      this.templateObjectsData.id = template.id;
      this.templateObjectsData.name = template.templateName;
      this.templateObjectsData.type = template.templateType;
      var tempObjList = this.$store.state.objectsData.objectList;
      for (var i = 0; i < template.objectList.length; i++) {
        for (var j = 0; j < tempObjList.length; j++) {
          if (template.objectList[i] === tempObjList[j].apiName) {
            tempObjList[j].isSelected = true;
            this.templateObjectsData.objectList.push(tempObjList[j]);
          }
        }
      }
    },
    addOrRemoveTemplateObject(object) {
      if (object.isSelected) {
        this.templateObjectsData.objectList.push(object);
        if (object.fieldList.length == 0) {
          this.getSingleObjectFields(object, false);
        }
      } else {
        var tempObjList = this.templateObjectsData.objectList;
        var index = -1;
        for (var i = 0; i < tempObjList.length; i++) {
          if (tempObjList[i].apiName === object.apiName) {
            index = i;
            break;
          }
        }
        tempObjList.splice(index, 1);
      }
    },
    clearTemplateObjectList() {
      this.templateObjectsData.objectList = [];
      this.templateObjectsData.selected = [];
      this.templateObjectsData.name = "";
      this.templateObjectsData.type = "";
      this.templateObjectsData.id = "";
      var tempObjList = this.$store.state.objectsData.objectList;
      for (var i = 0; i < tempObjList.length; i++) {
        tempObjList[i].isSelected = false;
      }
      this.$store.state.objectsData.selected = [];
    },
  },
  filters: {
    truncate: function (value) {
      if (value.length > 25) {
        value = value.substring(0, 22) + "...";
      }
      return value;
    },
    truncateSmall: function (value) {
      if (value.length > 10) {
        value = value.substring(0, 7) + "...";
      }
      return value;
    },
  },
  created: function () {
    //console.log("GF Created Method Called");
    var localObjectList = localStorage.getItem("objectList");
    if (localObjectList === null) {
      this.refreshObjects();
    } else {
      this.$store.state.objectsData.objectList = JSON.parse(localObjectList);
    }
    var localTemplateList = localStorage.getItem("templateList");
    if (localObjectList === null) {
      this.getTemplates();
    } else {
      this.templateList = JSON.parse(localTemplateList);
    }
  },
  beforeCreate() {
    //console.log("beforeCreate - Nothing gets called before me! - " + new Date());
  },
  components: {
    LoaderComponent,
    ToastComponent,
  },
  computed: {
    //alert("Computed");
  },
};
</script>

<style>
/* Hide header checkbox */
.elevation-24 th:first-child .v-input {
  display: none;
}

.elevation-24 .v-table__overflow {
  min-height: 50px;
  max-height: 198px;
  /* max-height: 265px; */
  /* max-height: 475px; */
  padding-bottom: 10px;
  overflow-y: scroll;
  background-color: #fff;
}

.v-dialog {
  margin: 24px 35px;
  max-height: 95%;
}

.custom-badge {
  color: white;
  right: 0;
  border-radius: 2px;
  padding: 7px 15px;
  position: absolute;
  margin: 0 15px 0 12px;
}

.elevation-24 th {
  font-size: 14px !important;
  /* background-color: #555; */
  /* color: #fff !important; */
  font-weight: bold;
}

.elevation-24 td {
  height: 30px !important;
}

/* .mdi-arrow-up {
  color: white !important;
} */

table.v-table thead tr {
  height: 34px;
}

/* .datatable-header {
  padding: 3px 10px;
  background-color: #fff;
  margin-top: 10px;
  font-size: 13px;
  font-weight: bold;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
} */

.datatable-header {
  box-shadow: none;
}

.datatable-header .v-toolbar__content {
  height: 30px !important;
  margin-top: 8px;
}

.datatable-header .v-toolbar__content .v-toolbar__title {
  font-size: 16px !important;
}

.v-btn {
  margin: 0 12px;
}

.v-datatable__actions__select .v-select {
  margin: 0px 0 0px 34px;
}

.v-dialog .v-card__actions {
  padding-bottom: 5px;
}

.v-dialog .v-card__title {
  padding: 8px 16px;
}

.theme--dark .elevation-24 .v-table__overflow {
  background-color: #424242;
}

.v-datatable__actions__range-controls {
  min-height: 36px;
}

.container.fluid {
  padding-top: 15px;
}

.home-container {
  display: flex;              /* establish flex container */
  flex-direction: column;     /* stack flex items vertically */
  justify-content: center;    /* center items vertically, in this case */
  align-items: center;        /* center items horizontally, in this case */
  height: 300px;
  padding-top: 200px;
}

.box {
  width: 950px;
  margin: 5px;
  text-align: left;
}

.home-table-class{
  margin-left:auto;
  margin-right:0;
}
.home-tr-custom{
  font-family: Arial,serif;
}

.custom-done-button {
  background-color: #087F23;
  border: none;
  border-radius: 8px;
  color: white;
  width: 80px;
  height: 40px;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}


.caption {
  display: block;
  font-family: Arial,serif;
}

td {
  /*border: 1px solid black;*/
  width: 300px;
  overflow: hidden;
}

.home-tracking-div {
  background-color: #F5F6FA;
  border-color: #C2CDDA;
  border-radius: 8px;
  padding-left: 20px;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  display: inline-block;
  font-size: 16px;
  width: 1100px;
  height: 300px

}

.home-card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 200px;
  height: 250px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.gap{
  padding-left: 15px;

}

.home-item-img{
  margin-left: 10px;
  margin-right:10px;
  width: 25px;
}

.home-item-name {
  display: block;
  font-size: 14px;
  font-family: Arial,serif;
}

.home-item-template {
  display: block;
  font-family: Arial,serif;
}

.home-aligned {
  display: flex;
  align-items:center;
  background-color: #E65100;
  opacity: 0.8;
}

</style>
