<template>
  <v-footer height="auto" :dark="$store.state.isDark">
    <v-card class="flex" flat tile>
      <v-card-actions class="justify-center">
        <strong class="header-title">Data Migration System</strong>
        <!-- <strong class="pl-2 pr-2">-</strong> -->

      </v-card-actions>
    </v-card>
  </v-footer>
</template>
<script>
export default {};
</script>

<style>
.header-title{
  alignment: left;
}
</style>
