
<template>

  <div id="home">
<!--    <sidebar-menu :menu="menu" />-->
    <HeaderComponent/>
    <Sidebar>
      <img src="https://images.creativemarket.com/0.1.0/ps/7092988/910/607/m2/fpnw/wm1/qtzyndgb3nzz6ae8a1fbvngi1qp44hnxw2rouszpizhxsjimoualyqcalgib0yq3-.jpg?1570458501&s=de87ebccd11f3fe5e74ac7f6d307e192"
           width ="50" class="profile-pic" alt="Avatar">
      <br>
      <div style="line-height:20%;">
        <br>
      </div>
      <div class="div-center">
        <b>Michael Robinsons</b>
      </div>
      <div class="div-center-color">
        <v-btn
            class="home-custom-button"
            color="E65100"
            v-if="$store.getters.user.isAuthenticated"
            to="/login"
            v-on:click.native="logout()"
            replace
        >
          Logout
        </v-btn>
      </div>
      <div style="line-height:500%;">
        <br>
      </div>
      <hr style="width:100%;text-align:left;margin-left:0">
      <div>
      <b> Menu </b>
      </div>
      <br>
      <div class="aligned">
        <img src="https://www.flaticon.com/svg/static/icons/svg/846/846449.svg"
             class="menu-img" alt="">
        <router-link to="gf" class="menu-text">Home</router-link>
      </div>
      <br>
      <div class="aligned">
        <img src="https://www.flaticon.com/svg/static/icons/svg/568/568717.svg"
             class="menu-img" alt="">
        <router-link to="upload" class="menu-text">Upload</router-link>
      </div>
      <br>
      <div class="aligned">
        <img src="https://www.flaticon.com/svg/static/icons/svg/886/886170.svg"
             class="menu-img" alt="">
        <span class="menu-text">Analytics</span>
      </div>
      <br>
      <div class="aligned">
        <img src="https://www.flaticon.com/svg/static/icons/svg/839/839860.svg"
             class="menu-img" alt="">
        <router-link to="validation" class="menu-text">Object sequence</router-link>
      </div>
      <br>
      <div class="aligned">
        <img src="https://www.flaticon.com/svg/static/icons/svg/503/503819.svg"
             class="menu-img" alt="">
        <span class="menu-text">Settings</span>
      </div>

      <div style="line-height:1000%;">
        <br>
      </div>

      <button class="custom-button">Contact Us</button>

    </Sidebar>
    <v-app id="inspire" :dark="$store.state.isDark">
<!--      <v-tabs-->
<!--        centered-->
<!--        :dark="$store.state.isDark"-->
<!--        v-model="activeTab"-->
<!--        icons-and-text-->
<!--      >-->
<!--        <v-layout row wrap>-->
<!--          <v-flex xs3>-->
<!--            <div class="headline pt-4 pl-3" style="display: inline-flex">-->
<!--              <div class="pr-3">-->
<!--                <v-icon x-large>mdi-database</v-icon>-->
<!--                <v-icon medium class="pb-2">mdi-redo</v-icon>-->
<!--                <v-icon x-large color="primary">mdi-database</v-icon>-->
<!--              </div>-->
<!--              <div class="pt-1">Data Migration System</div>-->
<!--            </div>-->
<!--          </v-flex>-->
<!--          <v-flex xs6 text-xs-center>-->
<!--            <v-tab v-for="tab of tabs" :key="tab.id" :to="tab.route" exact>-->
<!--              {{ tab.name }}-->
<!--              <v-icon>{{ tab.icon }}</v-icon>-->
<!--            </v-tab>-->
<!--          </v-flex>-->
<!--          <v-flex xs3 text-xs-right mt-4 pr-2 menu>-->
<!--            <v-spacer></v-spacer>-->
<!--            <v-switch-->
<!--              class="pt-1 body-2"-->
<!--              label="Toggle Theme"-->
<!--              v-model="$store.state.isDark"-->
<!--            ></v-switch>-->
<!--            <div>-->

<!--            </div>-->
<!--          </v-flex>-->
<!--        </v-layout>-->
<!--        <v-tab-item v-for="tab of tabs" :key="tab.id" :value="tab.route">-->
<!--          <v-divider :dark="$store.state.isDark"></v-divider>-->
<!--          <router-view></router-view>-->
<!--        </v-tab-item>-->
<!--      </v-tabs>-->
      <router-view></router-view>
<!--      <FooterComponent />-->
      <ConfirmComponent ref="confirm"></ConfirmComponent>
    </v-app>
  </div>
</template>

<script>
import FooterComponent from "./Footer.vue";
import HeaderComponent from "./Header";
import ConfirmComponent from "./Confirm.vue";
import Sidebar from './menu/Sidebar.vue';

export default {
  name: "Home",
  data() {
    return {
      activeTab: "/home/gf",
      tabs: [
        {
          id: 1,
          name: "Golden Files",
          icon: "mdi-file-document",
          route: "/home/gf",
        },
        {
          id: 2,
          name: "Data Validation",
          icon: "mdi-file-search",
          route: "/home/validation",
        },
        {
          id: 3,
          name: "Upload Data Files To Target System",
          icon: "mdi-cloud-upload",
          route: "/home/upload",
        },
      ],
      objectData: {},

      menu: [
        {
          header: true,
          title: 'Home',
          hiddenOnCollapse: true
        },
        {
          href: '/',
          title: 'Dashboard',
          icon: 'fa fa-user'
        },
        {
          href: '/charts',
          title: 'Charts',
          icon: 'fa fa-chart-area',
        }
      ]
    };
  },
  mounted() {
    this.$root.$confirm = this.$refs.confirm;
  },
  methods: {
    logout() {
      this.$store.commit("setUser", {
        isAuthenticated: false,
        isDemo: false,
        token: "",
        userName: "",
      });
    },
  },
  components: {
    HeaderComponent,
    FooterComponent,
    ConfirmComponent,
    Sidebar
  },
};
</script>

<style>
.v-tabs__container--fixed-tabs .v-tabs__div,
.v-tabs__container--icons-and-text .v-tabs__div {
  max-width: 160px;
  text-transform: capitalize;
  font-size: 15px;
  height: 100%;
}

.headline {
  font-family: inherit !important;
  font-weight: bold;
}

.theme--light.v-table {
  color: rgba(0, 0, 0, 1) !important;
}

.v-input--selection-controls {
  margin: 0;
  padding: 0;
}

.v-tabs__item--active {
  background-color: #eee;
}

.theme--dark .v-tabs__item--active {
  background-color: #555;
}

.v-input--selection-controls.v-input .v-label {
  font-size: 14px;
}

.menu {
  display: inline-flex;
}

.v-tabs__container--icons-and-text {
  height: 85px;
}

.v-btn__content {
  text-transform: capitalize;
}

.v-btn--small {
  height: 24px;
}

.v-input__control .v-text-field__details {
  display: none;
}

table td,
table th {
  padding: 0 10px !important;
}

/* .v-tabs {
  height: 100%;
}

.v-window {
  height: calc(100% - 120px);
  overflow:auto;
}

.v-window-item, .v-window__container{
  height: 100%;
} */

.profile-pic {
  /*border-radius: 50%;*/
  /*display: block;*/
  margin-left: auto;
  margin-right: auto;
  /*width: 50%;*/
  align-content: center;
  width: 80px;
  height: 80px;
  background-size: cover;
  display: block;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
}

.div-center {
  text-align: center;
  font-family: Arial,serif;
}

.div-center-color {
  text-align: center;
  font-family: Arial,serif;
  color: #E65100;
}

.aligned {
  display: flex;
  align-items:center;
}
.menu-img{
  margin-right:10px;
  width: 22px;
}
.menu-text{
  font-size: 15px;
  font-family: Arial;
  color: inherit;
  text-decoration: none;
}
.home-custom-button {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
</style>
