<template>
  <div class="text-xs-center">
    <!-- <div>Loader Status - {{$store.getters.loader}}</div> -->
    <v-dialog
      v-model="$store.getters.loader.isVisible"
      v-if="!$store.getters.loader.isStep"
      hide-overlay
      persistent
      width="500"
    >
      <v-card color="primary" dark>
        <v-card-text>
          {{ $store.getters.loader.text }}
          <v-progress-linear indeterminate color="white"></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog
      v-model="$store.getters.loader.isVisible"
      v-if="$store.getters.loader.isStep"
      hide-overlay
      persistent
      width="500"
    >
      <v-card color="primary" dark>
        <v-card-text>
          {{ $store.getters.loader.text }}
          <v-progress-linear
            color="white"
            v-model="$store.getters.loader.buffer"
            :buffer-value="$store.getters.loader.bufferValue"
          ></v-progress-linear>
        </v-card-text>
      </v-card>
    </v-dialog>
  </div>
</template>