<template>
  <div id="login">
    <div class="aligned">
      <img src="./assets/home.png" width="1000" alt="">

      <button color="#E65100" class="login-custom-button" v-on:click="login">
        Login with Salesforce
      </button>

    </div>



<!--    <v-app id="inspire">-->
<!--      <v-content>-->
<!--        <v-container fluid fill-height>-->
<!--          <v-layout align-center justify-center>-->
<!--            <v-flex xs12 sm8 md4>-->
<!--              <v-card class="elevation-12">-->
<!--                <v-toolbar dark color="primary">-->
<!--                  <v-toolbar-title>Login with Salesforce</v-toolbar-title>-->
<!--                  <v-spacer></v-spacer>-->
<!--                </v-toolbar>-->
<!--                <v-card-text>-->
<!--                  <v-form>-->
<!--                    <v-text-field-->
<!--                      prepend-icon="mdi-account"-->
<!--                      v-model="userName"-->
<!--                      name="login"-->
<!--                      label="Username"-->
<!--                      type="text"-->
<!--                    ></v-text-field>-->
<!--                    <v-text-field-->
<!--                      prepend-icon="mdi-lock"-->
<!--                      v-model="password"-->
<!--                      name="password"-->
<!--                      label="Password"-->
<!--                      id="password"-->
<!--                      type="password"-->
<!--                    ></v-text-field>-->
<!--                  </v-form>-->
<!--                </v-card-text>-->
<!--                <v-card-actions class="pl-3 pr-3 pb-3">-->
<!--                  <v-select-->
<!--                    item-text="name"-->
<!--                    item-value="name"-->
<!--                    v-model="selectedOrg"-->
<!--                    :items="orgList"-->
<!--                    v-on:change="setOrg"-->
<!--                    label="Choose Org"-->
<!--                    solo-->
<!--                    style="position: relative; top: 10px; width: 150px"-->
<!--                  ></v-select>-->
<!--                  <v-spacer></v-spacer>-->
<!--                  &lt;!&ndash; <v-switch v-model="useDemoCred" label="Use Demo Login" @click.native="setOrg"></v-switch> &ndash;&gt;-->
<!--                  <v-spacer></v-spacer>-->
<!--                  <v-btn color="primary" class="mt-2" v-on:click="login">-->
<!--                    <v-icon class="mr-2">mdi-login</v-icon>-->
<!--                    Login-->
<!--                  </v-btn>-->
<!--                </v-card-actions>-->
<!--              </v-card>-->
<!--            </v-flex>-->
<!--          </v-layout>-->
<!--        </v-container>-->
<!--      </v-content>-->
<!--    </v-app>-->
    <LoaderComponent />
    <ToastComponent />
  </div>
</template>

<script>
import LoaderComponent from "./Loader.vue";
import ToastComponent from "./Toast.vue";
// import {OAuth, DataService} from 'forcejs';

import OAuth from "forcejs/oauth";
import DataService from "forcejs/data-service";

export default {
  name: "Login",
  data() {
    return {
      //region Salesforce Authentication
      express: require('express'),
      jsforce: require('jsforce'),
      oauth2: new this.jsforce.OAuth2({
        // you can change loginUrl to connect to sandbox or prerelease env.
        loginUrl : this.loginUrl,
        clientId : this.clientId,
        clientSecret : this.clientSecret,
        redirectUri : this.callbackUrl
      }),
      //oauth2: require('salesforce-oauth2'),
      callbackUrl: "http://localhost:8080/#/home/gf",
      consumerKey: "3MVG9l2zHsylwlpTIbC8F6F._.6QFnPBZTYzz4pNZcLDEiMEw2VwasJePaHTuyoWDGnkEY02maHeTkVcKdrS2",
      consumerSecret: "F6D9F9DE693311A7CC7E517E84C1B4180C380481BBC9F5C0712862F133AF5A21",
      loginUrl: "https://ccxdevmanagement-dev-ed.my.salesforce.com",
      app: this.express.createServer(this.express.logger()),


      //endregion
      useDemoCred: false,
      selectedOrg: "CCX",
      orgList: [{ name: "CCX" }, { name: "JDE" }, { name: "R365" }],
      // orgList: [{ name: "CCX" }, { name: "JDE" }, { name: "DEMO" }],
      userName: "demo@commercecx.com.dev",
      password: "",
      demoCredentials: {
        userName: "demo@commercecx.com.dev",
        password: "Abcde@12345",
      },
    };
  },
  methods: {
    login() {
      this.$store.commit("setLoader", {
        isVisible: true,
        text: "Verifying user credentials...",
      });
      if (1) {

        this.$store.commit("setLoader", {
          isVisible: false,
          text: "",
        });
        this.$store.commit("setUser", {
          isAuthenticated: true,
          isDemo: true,
          token: "Demo Token",
          org: "DEMO",
          userName: this.userName,
        });
        this.$router.replace({ path: "home/gf" });
      } else {
        this.$http
          .get(this.$baseUrl + "/api/login", {
            params: {
              userName: this.userName,
              password: this.password,
              org: this.selectedOrg,
            },
          })
          .then((res) => {
            var result = JSON.parse(res.data.result);
            if (!result.error) {
              var token = result.access_token;
              var id = result.id.split("/");
              id = id[id.length - 1];
              //console.log("Token - " + token + " - " + new Date());
              if (token !== undefined && token !== "") {
                this.$store.commit("setUser", {
                  isAuthenticated: true,
                  isDemo: false,
                  token: token,
                  org: this.selectedOrg,
                  userName: this.userName,
                  id: id,
                  version: "v45.0",
                });
                localStorage.user = JSON.stringify({
                  isAuthenticated: true,
                  isDemo: false,
                  token: token,
                  org: this.selectedOrg,
                  userName: this.userName,
                  id: id,
                  version: "v45.0",
                });
                this.$router.replace({ path: "home/gf" });
              } else {
                this.$store.commit("setToast", {
                  isVisible: true,
                  isCloseVisible: false,
                  timeout: 3000,
                  text: "Invalid User Credentials",
                });
              }
            } else {
              this.$store.commit("setToast", {
                isVisible: true,
                isCloseVisible: true,
                timeout: 60000,
                text:
                  "Failed to Login. " +
                  result.error +
                  " - " +
                  result.error_description,
                error: result.error + " - " + result.error_description,
              });
            }
            this.$store.commit("setLoader", {
              isVisible: false,
              text: "",
            });
          })
          .catch((err) => {
            this.$store.commit("setToast", {
              isVisible: true,
              isCloseVisible: true,
              timeout: 60000,
              text: "Failed to Login. " + err,
              error: err,
            });
            this.$store.commit("setLoader", {
              isVisible: false,
              text: "",
            });
          });
      }
    },
    loginSalesforce(){
      let oauth = OAuth.createInstance(this.consumerKey, this.loginUrl, this.oauthCallbackURL);
      // oauth.oauthCallbackURL = "http://localhost:8080/#/home/gf"
      // region ccxdevmanagement
      oauth.loginURL = "https://ccxdevmanagement-dev-ed.my.salesforce.com"
      oauth.appId = "3MVG9l2zHsylwlpTIbC8F6F._.6QFnPBZTYzz4pNZcLDEiMEw2VwasJePaHTuyoWDGnkEY02maHeTkVcKdrS2"
      oauth.oauthCallbackURL = "http://localhost:8080/home/gf"
      // endregion

      // region ccxdevdeved
      // oauth.loginURL = "https://ccx-dev-dev-ed.my.salesforce.com"
      // oauth.appId = "3MVG9KsVczVNcM8ySzBfL_7YOStBCqtSFSpfdsbu1VqjeRjFAtj7u_TfYg1inf.q5PMoKjrDDHQ11vOP0xb.q"
      // oauth.oauthCallbackURL = "http://localhost:8080/"
      // endregion

     //username - sagardas@commercecx.com.cxdev
      //password - commercecx5
      oauth.login()
          .then(oauthResult => {
            console.log("before")
            console.log(oauthResult)
            console.after("after")
            oauthResult.loginURL = this.loginUrl
            //DataService.createInstance(oauthResult);
            //loadContacts();
            this.$router.replace({ path: "home/gf" });
          });

      let loadContacts = () => {
        let service = DataService.getInstance();
        service.query('select id, Name from contact LIMIT 50')
            .then(response => {
              let contacts = response.records;
              let html = '';
              contacts.forEach(contact => html = html + `<li>${contact.Name}</li>`);
              console.log(html)
            });
      }
    },
    setOrg() {
      if (this.selectedOrg == "JDE") {
        this.userName = "";
        this.password = "";
      } else if (this.selectedOrg == "CCX") {
        this.userName = "";
        this.password = "";
      } else if (this.selectedOrg == "R365") {
        this.userName = "";
        this.password = "";
      }
      else if (this.selectedOrg == "DEMO") {
        this.userName = this.demoCredentials.userName;
        this.password = this.demoCredentials.password;
      }
    },
  },
  created() {
    this.userName = "";
    this.password = "";
  },
  components: {
    LoaderComponent,
    ToastComponent,
  },
};
</script>

<style>
.aligned {
  display: flex;
  align-items:center;
}
.login-custom-button {
  background-color: #E65100;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.login-item-name {
  display: block;
  font-size: 18px;
  font-family: Arial,serif;
}
</style>


