<template>
  <div id="toast">
    <!-- <div style="text-align:center;">{{$store.getters.toast}}</div> -->
    <v-snackbar
      v-model="$store.getters.toast.isVisible"
      :bottom="true"
      :right="true"
      :timeout="$store.getters.toast.timeout"
      :multi-line="true"
    >
      <ul>
        <li
          v-for="item in $store.state.toast.text.split('$$$$')"
          v-bind:key="item"
        >
          {{ item }}
        </li>
      </ul>
      <v-btn
        color="red"
        v-if="$store.getters.toast.isCloseVisible"
        flat
        @click="$store.getters.toast.isVisible = false"
        >Close</v-btn
      >
    </v-snackbar>
  </div>
</template>