<template>
  <div class="outer-div">
    <div class="aligned">
      <div class="custom-div1">
        <div class="custom-div2" @dragover="dragover" @dragleave="dragleave" @drop="drop">
<!--          <input type="file" multiple name="fields[assetsFieldHandle][]" id="assetsFieldHandle"-->
<!--                 class="w-px h-px opacity-0 overflow-hidden absolute" @change="onChange" ref="file" accept=".pdf,.xlsx,.xls" />-->

          <img src="https://www.flaticon.com/svg/static/icons/svg/568/568717.svg"
               width=50px alt="">
          <span class="caption">Drag and Drop files</span>
          <span class="caption">or</span>
          <label class="custom-button" type="file" >
        Browse files
            <input type="file" multiple name="fields[assetsFieldHandle][]" id="assetsFieldHandle"
                   class="w-px h-px opacity-0 overflow-hidden absolute" @change="onChange" ref="file" accept=".pdf,.xls,.xlsx" />
      </label>
      </div>
      </div>
      <div>
      <img src="./assets/upload.png" width="500" alt="">
        <span class="caption">Navigate to Home page for monitoring the status of processing of your file, data mapping and more.</span>
      </div>

    </div>
<!--    <v-layout row wrap text-xs-center style="height: calc(100% - 120px)">-->
<!--      <v-flex xs12 pa-3 pb-5>-->
<!--        <template>-->
<!--          <div>-->
<!--            <v-toolbar flat>-->
<!--              <v-toolbar-title class="font-weight-bold"-->
<!--                >Data Validation</v-toolbar-title-->
<!--              >-->
<!--              <v-spacer></v-spacer>-->
<!--              &lt;!&ndash; <v-btn-->
<!--                color="primary"-->
<!--                dark-->
<!--                @click="expand = !expand"-->
<!--              >{{ expand ? 'Close' : 'Keep' }} other rows</v-btn>&ndash;&gt;-->
<!--              <v-btn color="primary" dark>-->
<!--                <v-icon medium class="pr-2">mdi-eye-outline</v-icon>Create /-->
<!--                View Template Groups-->
<!--              </v-btn>-->
<!--              <v-btn color="primary" dark>-->
<!--                <v-icon medium class="pa-1">mdi-plus</v-icon>Create Dataset-->
<!--              </v-btn>-->
<!--            </v-toolbar>-->
<!--            <v-data-table-->
<!--              :headers="headers"-->
<!--              :items="desserts"-->
<!--              :expand="expand"-->
<!--              item-key="name"-->
<!--              hide-actions-->
<!--            >-->
<!--              <template v-slot:items="props">-->
<!--                <tr>-->
<!--                  <td @click="props.expanded = !props.expanded">-->
<!--                    {{ props.item.name }}-->
<!--                  </td>-->
<!--                  <td @click="props.expanded = !props.expanded">-->
<!--                    {{ props.item.lastModifiedDate }}-->
<!--                  </td>-->
<!--                  <td @click="props.expanded = !props.expanded">-->
<!--                    {{ props.item.lastModifiedBy }}-->
<!--                  </td>-->
<!--                  <td>-->
<!--                    <v-btn-->
<!--                      color="primary"-->
<!--                      small-->
<!--                      :dark="$store.state.isDark"-->
<!--                      v-on:click="getSingleObjectFields(props.item, true)"-->
<!--                    >-->
<!--                      Edit-->
<!--                      <v-icon class="pl-2" style="font-size: 18px"-->
<!--                        >mdi-pencil</v-icon-->
<!--                      >-->
<!--                    </v-btn>-->
<!--                  </td>-->
<!--                  <td>-->
<!--                    <v-overflow-btn-->
<!--                      :items="templateList"-->
<!--                      label="Select Template Group"-->
<!--                      target="#dropdown-example"-->
<!--                    ></v-overflow-btn>-->
<!--                  </td>-->
<!--                  <td>-->
<!--                    <v-btn color="info" small :dark="$store.state.isDark">-->
<!--                      Validate-->
<!--                      <v-icon class="pl-2" style="font-size: 18px"-->
<!--                        >mdi-file-search-outline</v-icon-->
<!--                      >-->
<!--                    </v-btn>-->
<!--                  </td>-->
<!--                </tr>-->
<!--              </template>-->
<!--              <template v-slot:expand="props" style="background-color: #ff0000">-->
<!--                <template>-->
<!--                  <div class="ma-4">-->
<!--                    <v-data-table-->
<!--                      :headers="detailsHeader"-->
<!--                      :items="dessertDetails"-->
<!--                      :expand="expand"-->
<!--                      item-key="name"-->
<!--                      hide-actions-->
<!--                    >-->
<!--                      <template v-slot:items="props">-->
<!--                        <tr>-->
<!--                          <td>{{ props.item.name }}</td>-->
<!--                          <td>{{ props.item.templateName }}</td>-->
<!--                          <td>{{ props.item.runDate }}</td>-->
<!--                          <td>{{ props.item.runBy }}</td>-->
<!--                          <td>{{ props.item.status }}</td>-->
<!--                          <td>-->
<!--                            <v-btn-->
<!--                              v-if="-->
<!--                                props.item.status == 'Success' ||-->
<!--                                props.item.status == 'Failed'-->
<!--                              "-->
<!--                              color="success"-->
<!--                              small-->
<!--                              :dark="$store.state.isDark"-->
<!--                            >-->
<!--                              Download-->
<!--                              <v-icon class="pl-2" style="font-size: 18px"-->
<!--                                >mdi-download</v-icon-->
<!--                              >-->
<!--                            </v-btn>-->
<!--                          </td>-->
<!--                        </tr>-->
<!--                      </template>-->
<!--                    </v-data-table>-->
<!--                  </div>-->
<!--                </template>-->
<!--              </template>-->
<!--            </v-data-table>-->
<!--          </div>-->


<!--          &lt;!&ndash; Excel Component&ndash;&gt;-->
<!--          <div id="excel_upload">-->
<!--            <v-toolbar-title class="font-weight-bold">Upload Golden file template</v-toolbar-title-->
<!--            >-->
<!--            <div>-->
<!--              <input-->
<!--                  type="file"-->
<!--                  @change="excelExport"-->
<!--                  accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"/>-->
<!--            </div>-->
<!--            <div>-->

<!--            </div>-->
<!--          </div>-->
<!--          <v-btn color="primary" dark-->
<!--          v-on:click="uploadExcel">-->
<!--            <v-icon medium class="pr-2">mdi-eye-outline</v-icon>Upload-->
<!--          </v-btn>-->
<!--        </template>-->
<!--      </v-flex>-->
<!--    </v-layout>-->


    <div style="line-height:1100%;">
      <br>
    </div>

  </div>

</template>
<script>
import XLSX from "xlsx";
export default {
  fileData: new FormData(),

  data() {
    return {
      filelist: [], // Store our uploaded file
      excelData: [],
      expand: false,
      templateList: [
        { text: "Template 1" },
        { text: "Template 2" },
        { text: "Template 3" },
        { text: "Template 4" },
        { text: "Template 5" },
        { text: "+ Create Template Group" },
      ],
      headers: [
        {
          text: "Dataset Name",
          align: "center",
          sortable: false,
          value: "name",
        },
        {
          text: "Last Modified Date",
          align: "center",
          value: "lastModifiedDate",
        },
        { text: "Last Modified By", align: "center", value: "lastModifiedBy" },
        { text: "Edit", align: "center", value: "editBtn", width: "10%" },
        {
          text: "Template Group",
          align: "center",
          value: "templateName",
          width: "15%",
        },
        {
          text: "Validate",
          align: "center",
          value: "validateBtn",
          width: "10%",
        },
      ],
      detailsHeader: [
        {
          text: "Job Name",
          align: "center",
          sortable: false,
          value: "name",
        },
        {
          text: "Template Group",
          align: "center",
          sortable: false,
          value: "templateName",
        },
        {
          text: "Run Date",
          align: "center",
          value: "runDate",
        },
        { text: "Run By", align: "center", value: "runBy" },
        { text: "Status", align: "center", value: "status" },
        { text: "Report", align: "center", value: "downloadBtn", width: "10%" },
      ],
      desserts: [
        {
          name: "DMS",
          lastModifiedDate: "2019/04/12 18:13:19",
          lastModifiedBy: "Tanya",
        },
        {
          name: "PCUT",
          lastModifiedDate: "2019/04/12 18:13:19",
          lastModifiedBy: "Sarala",
        },
        {
          name: "COT3",
          lastModifiedDate: "2019/04/12 18:13:19",
          lastModifiedBy: "Sarala",
        },
        {
          name: "Cot2",
          lastModifiedDate: "2019/04/12 18:13:19",
          lastModifiedBy: "Sarala",
        },
        {
          name: "Cot1",
          lastModifiedDate: "2019/04/12 18:13:19",
          lastModifiedBy: "Ramesh",
        },
        {
          name: "Jelly bean",
          lastModifiedDate: "2019/04/12 18:13:19",
          lastModifiedBy: "Venky",
        },
        {
          name: "Lollipop",
          lastModifiedDate: "2019/04/12 18:13:19",
          lastModifiedBy: "Venky",
        },
        {
          name: "Honeycomb",
          lastModifiedDate: "2019/04/12 18:13:19",
          lastModifiedBy: "Ramesh",
        },
        {
          name: "Donut",
          lastModifiedDate: "2019/04/12 18:13:19",
          lastModifiedBy: "Venky",
        },
        {
          name: "KitKat",
          lastModifiedDate: "2019/04/12 18:13:19",
          lastModifiedBy: "Tanya",
        },
      ],
      dessertDetails: [
        {
          name: "Frozen Yogurt",
          templateName: "Template 1",
          runDate: "2019/04/12 18:13:19",
          runBy: "Tanya",
          status: "In progress",
        },
        {
          name: "Ice cream sandwich",
          templateName: "Template 2",
          runDate: "2019/04/12 18:13:19",
          runBy: "Ramesh",
          status: "Failed",
        },
        {
          name: "Eclair",
          templateName: "Template 3",
          runDate: "2019/04/12 18:13:19",
          runBy: "Venky",
          status: "Success",
        },
      ]

    };
  },
  methods: {
    excelExport(event) {
      var input = event.target;
      var reader = new FileReader();
      var formData = new FormData();
      formData.append("excel", input.files[0]);
      this.fileData = formData;
      console.log('>> formData >> ', formData);
      console.log('>> formData >> ', this.fileData);
      // reader.onload = () => {
      //   this.fileData = reader.result;
      //   var wb = XLSX.read(fileData, {type : 'binary'});
      //   wb.SheetNames.forEach((sheetName) => {
      //     var rowObj =XLSX.utils.sheet_to_json(wb.Sheets[sheetName]);
      //     this.excelData = JSON.stringify(rowObj)
      //     console.log(this.excelData);
      //   })
      //   console.log("Completed reading file data")
      // };
      reader.readAsBinaryString(input.files[0]);

    },
    uploadExcel(){
      console.log("File upload start");
      this.$http
          .post(this.$baseUrl + "/api/parseExcelSheet", this.fileData, {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then((res) => {
            //console.log("Template saved.");
            console.log("Here");
            console.log(res.data);
            var result = JSON.parse(res.data.result);

            if (result.success) {
              console.log("success");
              // this.getTemplates();
              this.closeDialog();
            } else {
              console.log("Failed")
            }
          })
          .catch((err) => {
           console.log(err);
          });

      console.log("File upload complete")
    },
    onChange() {
      this.filelist = [...this.$refs.file.files];
      console.log(this.filelist)
    },
    remove(i) {
      this.filelist.splice(i, 1);
    },
    dragover(event) {
      event.preventDefault();
      // Add some visual fluff to show the user can drop its files
      if (!event.currentTarget.classList.contains('bg-green-300')) {
        event.currentTarget.classList.remove('bg-gray-100');
        event.currentTarget.classList.add('bg-green-300');
      }
    },
    dragleave(event) {
      // Clean up
      event.currentTarget.classList.add('bg-gray-100');
      event.currentTarget.classList.remove('bg-green-300');
    },
    drop(event) {
      event.preventDefault();
      this.$refs.file.files = event.dataTransfer.files;
      this.onChange(); // Trigger the onChange event manually
      // Clean up
      event.currentTarget.classList.add('bg-gray-100');
      event.currentTarget.classList.remove('bg-green-300');
    }
  }
};
</script>

<style>
.under-development {
  text-align: center;
  font-size: 24px;
  padding: 50px;
}

.under-development::after {
  content: "Under Development";
}

.v-datatable tr,
.v-datatable td,
.v-datatable th {
  cursor: pointer;
}

.v-datatable__expand-col,
.v-datatable__expand-col td,
.v-datatable__expand-col th,
.v-datatable__expand-col tr,
.v-datatable__expand-col .v-datatable__actions {
  background-color: #f7f7f7 !important;
}

.side-menu {
  border-right: 1px solid #ccc;
  overflow: auto;
  background-color: #f7f7f7;
}

.side-menu-item {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 2px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.side-menu-item:hover {
  background-color: #fff;
  cursor: pointer;
}

.v-overflow-btn {
  margin-top: 8px;
}

.v-overflow-btn .v-select__slot {
  height: 32px;
}

.v-select-list .v-list__tile__title,
.v-overflow-btn .v-select__slot label,
.v-select__selection {
  font-size: 14px !important;
}

.aligned {
  display: flex;
  align-items:center;
}

.outer-div{
  margin-left: 210px;
}

.custom-button {
  background-color: #E65100;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.custom-div1{
  background-color: #F5F6FA;
  border: none;
  border-radius: 8px;
  padding: 50px;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;

}

.custom-div2 {
  background-color: #F5F6FA;
  border-style: dotted;
  border-color: #C2CDDA;
  border-radius: 8px;
  padding: 100px;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}


.caption {
  display: block;
  font-family: Arial,serif;
}

input[type="file"] {
  display: none;
}
</style>
