<template>
  <div class="outer-div">
    <!-- <div class="under-development"></div> -->
<!--    <iframe-->
<!--      src="http://validate.commercecx.com/templates"-->
<!--      v-bind:style="{ height: iFrameHeight + 'px' }"-->
<!--      style="width: 100%; background-color: white !important"-->
<!--    ></iframe>-->

    <div class="card">
      <div class="aligned">
        <img src="https://www.flaticon.com/svg/static/icons/svg/1524/1524539.svg"
             class="item-img" alt="">

        <div class="gap">
          <span class="item-name">Product</span>
          <span class="item-template ">Master</span>
        </div>

      </div>

      <div class="container">
        <h4><b>Total objects</b></h4>
        <button class="custom-button1">Download</button>
        <button class="custom-button">CLONE</button>
        <p>Last modified</p>
      </div>
    </div>

    <div style="line-height:1100%;">
      <br>
    </div>
  </div>
</template>
<script>
export default {
  data() {
    return {
      iFrameHeight: window.innerHeight - 202,
    };
  },
};
</script>

<style>
.under-development {
  text-align: center;
  font-size: 24px;
  padding: 50px;
}

.under-development::after {
  content: "Under Development";
}

.aligned {
  display: flex;
  align-items:center;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 200px;
  height: 300px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.outer-div{
  margin-left: 210px;
}

.item-img{
  margin-left: 10px;
  margin-right:10px;
  width: 55px;
}

.custom-button {
  background-color: #E65100;
  width: 150px;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}
.custom-button1 {
  width: 150px;
  border-style: dashed;
  border-color: #E65100;
  border-radius: 8px;
  color: #E65100;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-family: Arial;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
}

.item-name {
  display: block;
  font-size: 18px;
  font-family: Arial,serif;
}

.item-template {
  display: block;
  font-family: Arial,serif;
}

.gap{
padding-left: 15px;

}
</style>
