<template>
  <div id="app">
    <router-view />
  </div>
</template>

<script>

export default {
  name: "App",
  data() {
    return {};
  },
  mounted() {
    if (!this.$store.state.user.isAuthenticated) {
      this.$router.replace({ name: "login" });
    }
  },
  methods: {},
};
</script>

<style>
html {
  overflow: auto;
}
.v-icon {
  cursor: pointer;
}
div {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif !important;
  /* font-family: Trebuchet MS, Arial, Helvetica, sans-serif; */
}

.theme--light.v-footer {
  background: #ddd;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #f5f5f5;
  overflow-x: auto;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
  overflow-x: auto;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #90caf9;
  overflow-x: auto;
}

.btn-static {
  position: fixed;
  right: 10px;
  z-index: 201;
  padding: 0;
  bottom: 0;
  margin-bottom: 70px;
}
</style>